<section fxLayout="column">

  <section class="title" fxLayout="column" fxFlex=10>
    <section>
      <h2>Issue:</h2>
      <h1>{{issue.title}}</h1>
    </section>
    <section>
      <p>{{author.name}} | {{author.reputation}}</p>
      <p>{{author.institute}}</p>
    </section>
  </section>

  <section class="post" fxLayout="row" fxFlex=90>
    <section class="content" fxLayout="column" fxFlex=50>
      <p>{{issue.description}}</p>
    </section>

    <section class="aside" fxLayout="column" fxFlex=50> <!-- Can get split into it's own component -->
      <ng-container *ngIf="this.resolution != undefined; else displayResolution">
        <h2>Response:</h2>
        <h2>{{resolution.title}}</h2>
        <p>{{resolution.description}}</p>
        <section class="r-buttons" fxLayout=row fxFlexAlign="end">
          <button mat-button>Adequate</button>
          <button mat-button>Inadequate</button>
        </section>
      </ng-container>
      <ng-template #displayResolution>
        <h2>Currently no resolution...</h2>
      </ng-template>
    </section>

    
  </section>
  <section fxLayout="column">
    <section fxLayout="column">
      <h2>Post a comment:</h2>
      <input #cauthor style="width: 25%"/>
      <input #ccontent/>
      <button (click)="newComment(cauthor.value, ccontent.value)" mat-button style="width: 4rem">Post</button>
    </section>
    <section fxLayout="column" fxLayout="column-reverse" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <comment *ngFor="let comment of comments" [user]="comment.user" [rating]="comment.rating" [content]="comment.content" fxFlex=100 fxLayout="row"></comment>
    </section>
  </section>
</section>
