<section fxLayout="column">
  <mat-card>
    <mat-card-title>Issue:</mat-card-title>
    <mat-card-title>{{issue.title}}</mat-card-title>
    <mat-card-subtitle>{{author.name}} | {{author.reputation}}</mat-card-subtitle>
    <mat-card-subtitle>{{author.institute}}</mat-card-subtitle>
    <mat-card-content>
      <section class="post" fxLayout="row">
        <mat-card class=content fxFlex=50>
          <mat-card-content>{{issue.description}}</mat-card-content>
        </mat-card>
        <section class="aside" fxLayout="column" fxFlex=50> <!-- Can get split into it's own component -->
          <ng-container *ngIf="this.resolution != undefined; else displayResolution">
            <mat-card>
              <mat-card-title>Response:</mat-card-title>
              <mat-card-title>{{resolution.title}}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle> <!-- For author / institute, etc. -->
              <mat-card-content>
                {{resolution.description}}
              </mat-card-content>
              <mat-card-actions fxLayout=row>
                <button mat-raised-button (click)="upvoteAdequacy()">Adequate</button>
                <button mat-raised-button (click)="downvoteAdequacy()">Inadequate</button>
                <mat-card-content class=res-rating>Rating: {{resolution.rating}}</mat-card-content>
              </mat-card-actions>
            </mat-card>
          </ng-container>
          <ng-template #displayResolution>
            <h2>Currently no resolution...</h2>
          </ng-template>
        </section>
      </section>
    </mat-card-content>
  </mat-card>
</section>

<section fxLayout="column">
  <section fxLayout="column">
    <h2 class=mat-card-title>Post a comment:</h2>
    <input #cauthor style="width: 25%"/>
    <input #ccontent/>
    <button (click)="newComment(cauthor.value, ccontent.value)" mat-raised-button style="width: 4rem">Post</button>
  </section>
  <section fxFlex=100 fxLayout="column" fxLayout="column-reverse" fxLayoutGap="gappx">
    <comment *ngFor="let comment of comments" 
    [user]="comment.user" [rating]="comment.rating" [content]="comment.content" fxLayout="row"></comment>
  </section>
</section>
