/* Debug */
/* .content {
  background-color: blueviolet
}
.aside {
  background-color: darkmagenta
}
.content p{
  background-color: crimson;
}
.content h1{
  background-color: coral;
}
p{
  background-color: darkcyan;
} */

.content h1 {
  margin-top: 0;

  padding-left: 1rem;
  padding-right: 1rem;
}
.content p{
  padding-left: 1rem;
  padding-right: 1rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.aside p {
  margin-top: 0;
}
button {
  align-self: center;
  width: 50%;
}