#root-container
{
  display: grid;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  position: absolute;
  grid-template-columns: 4rem auto;
  grid-template-rows: 4rem auto 8rem;
  grid-template-areas: "tl-nav t-nav"
                       "l-nav content"
                       "l-nav footer";
}

#root-container nav{
  display: flex;
}
#container {
  width: 100vw;
  height: 100vh;
}

mat-drawer {
  background: #e91e63;
}

#root-container nav#logo {
  position: relative;
  justify-content: left;
  grid-area: tl-nav;
  background-color: #e91e63;
  padding-left: 1em;
  color: white;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#root-container .mat-icon {
  width: 3rem !important;
  height: 3rem !important;
  font-size: 3rem;
}

#root-container nav#logo img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

#root-container nav#l-nav{
  flex-direction: column;
  grid-area: l-nav;
  align-items: center;
  background-color: transparent;
  color: #fff;
}

#root-container nav#t-nav{
  flex-direction: row;
  grid-area: t-nav;
  background-color: #e91e63;
}
.click {
  cursor: pointer;
}

#root-container main {
  grid-area: content;
}

.cdk-focused {
  background-color: #e2014c;
}
