<div id="home-container">

  <mat-card>
    <mat-card-title>World's best universities</mat-card-title>
    <mat-card-content>
      See the universities most dedicated to productively responding to feedback
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button>See best scored universities</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title>Improve your local university</mat-card-title>
    <mat-card-content>
      Solving a problem starts with tracking it!
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button>Register as a student</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title>Top local universities</mat-card-title>
    <mat-card-content>
      Which institutions near you care most?
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button>See local universities</button>
    </mat-card-actions>
  </mat-card>

</div>
