#home-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content:flex-start;

}
#home-container .mat-card {
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis:25%;
  margin: 1rem;
  margin-right: auto;
  max-width: 400px;
}
