<mat-card fxFlex=100>
    <mat-card-content>
        <mat-card-content fxLayout="row" fxFlex=90>
          <section fxLayout="column" class="rating">
            <button (click)="upvote()">
              <i class="material-icons">
                expand_less
              </i>
            </button>
            <p>{{rating}}</p>
            <button (click)="downvote()">
              <i class="material-icons">
                expand_more
              </i>
            </button>
          </section>
          {{content}}
        </mat-card-content>
        <mat-card>
            <mat-card-subtitle class=author>{{user.name}} | {{user.reputation}}</mat-card-subtitle>
            <mat-card-subtitle>{{user.institute}}</mat-card-subtitle>
        </mat-card>
    </mat-card-content>
</mat-card>
