<mat-card fxFlex=100>
    <mat-card-content>
        <mat-card-content fxFlex=90>
          <section>
            <mat-icon svgIcon="expand_less"></mat-icon>
            <mat-icon svgIcon="expand_more"></mat-icon>
          </section>
          {{content}}
        </mat-card-content>
        <mat-card>
            <mat-card-subtitle class=author>{{user.name}} | {{user.reputation}}</mat-card-subtitle>
            <mat-card-subtitle>{{user.institute}}</mat-card-subtitle>
        </mat-card>
    </mat-card-content>
</mat-card>
